//fonts
$font_regular: 400;
$font_light: 300;
$font_medium: 400;
$font_semibold: 600;
$font_bold: 700;
$font_awesome: FontAwesome;
$font_sansserif: sans-serif;

//url
// $url_0: url(../fonts/avenir/Avenir-Roman-12.ttf);
// $url_1: url(../fonts/avenir/Avenir-Medium-09.ttf);
// $url_2: url(../fonts/avenir/Avenir-Black-03.ttf);
// $url_3: url(../fonts/avenir/Avenir-Heavy-05.ttf);
// $url_4: url(../fonts/avenir/Avenir-Light-07.ttf);

//border radius
$radius_none: 0;
$radius_xs: 3px;
$radius_sm: 5px;
$radius_md: 10px;
$radius_capsule: 50px !important;
$radius_circle: 50%;

$color_black: #333533;
$color_black_grey: #414141;
$color_grey: #828282;
$color_white: #ffffff;
$color_primary: #01A149;
$color_secondary: #FFC742;
$color_backbround: #19274c;
$color_background: #F2F2F2;
$color_footer: #46423C;

// @font-face { 
// 	font-weight: $font_regular;
// 	src: $url_0;
// }
// @font-face {
// 	font-weight: $font_medium;
// 	src: $url_1;
// }
// @font-face {
// 	font-weight: $font_bold;
// 	src: $url_2;
// }
// @font-face {
// 	font-weight: $font_semibold;
// 	src: $url_3;
// }
// @font-face {
// 	font-weight: $font_light;
// 	src: $url_4;
// }
    
%extend_1 {
	font-family: 'Open Sans', sans-serif;;
    font-size: 1.095vw;
    color: $color_black;
}

body,
html {
	@extend %extend_1;
    height: 100%;
}
a {
    color: $color_primary;
    cursor: pointer;
    &:hover {
        color: darken($color_primary, 10%);
        text-decoration: none;
    }
}
h1 {
    font-size: 3.285em; //46px
    line-height: 1.4em;
}
h2 {
    font-size: 2.571em; //36px
    line-height: 1.4em;
}
h3 {
    font-size: 1.714em; //24px
}
h4 {
    font-size: 1.286em; //18px
    margin-top: 0;
    line-height: 1.8em;
}
h5 {
    font-size: 1.143em; //16px
    line-height: 1.8em;
}
p {
    font-size: 1em;; //14px
    color: $color_black_grey;
}
.text-regular {
    font-weight: $font_regular !important;
}
.text-bold {
    font-weight: $font_bold !important;
}
.text-semibold {
    font-weight: $font_semibold !important;
}
.text-medium {
    font-weight: $font_medium !important;
}
.text-small {
    font-size: 0.857em; //12px
}
.text-xsmall {
    font-size: 0.714em; //10px
    line-height: 1.4em;
}
.text-italic {
    font-style: italic;
}
.text-underline {
    text-decoration: underline;
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-prime {
    color: $color_primary;
}
.text-secondary {
    color: $color_secondary;
}
.text-grey {
    color: $color_grey;
}
.text-headline {
    position: relative;
    &::before {
        content: ' ';
        position: absolute;
        top: -25px;
        left: 0;
        width: 90px;
        height: 7px;
        border-radius: 10px;
        background-image: linear-gradient(to left, #cd429c, #9e1f63);
    }
    &.text-center {
        &::before {
            top: -25px;
            left: 50%;
            margin-left: -45px;
            width: 90px;
            height: 7px;
        }
    }
    &.diklat-theme {
        &::before {
            background-image: linear-gradient(to right, #8b7f62, #e2cfa1);
        }
    }
}

.text-heading {
    display: inline-block;
    padding: 8px 52px;
    border-radius: $radius_capsule;
    text-transform: uppercase;
    &.heading-primary {
        background-color: $color_primary;
        color: $color_white;
    }
}

.full-height {
    height: 100%;
}

.max-width_100 {
    max-width: 100%;
}

.img-responsive {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.pad-section {
    padding-top: 100px;
}

.mg-none {
    margin: 0 !important
}

.mg-l-none {
    margin-left: 0 !important;
}
.mg-l-sm {
	margin-left: 10px!important;
}
.mg-l-m {
	margin-left: 30px!important;
}
.mg-l-lg {
	margin-left: 60px!important;
}

.mg-r-none {
    margin-right: 0 !important;
}
.mg-r-sm {
	margin-right: 10px!important;
}
.mg-r-m {
	margin-right: 30px!important;
}
.mg-r-lg {
	margin-right: 60px!important;
}

.mg-t-none {
    margin-top: 0 !important;
}
.mg-t-xs {
    margin-top: 5px !important;
}
.mg-t-sm, .mt-10 {
    margin-top: 10px !important;
}
.mg-t-m {
	margin-top: 30px!important;
}
.mg-t-lg {
	margin-top: 60px!important;
}

.mg-b-none {
    margin-bottom: 0 !important;
}
.mg-b-sm {
	margin-bottom: 10px!important;
}
.mg-b-m {
	margin-bottom: 30px!important;
}
.mg-b-lg {
	margin-bottom: 60px!important;
}

.pad-l-none {
    padding-left: 0 !important;
}
.pad-l-sm {
	padding-left: 10px!important;
}
.pad-l-m {
	padding-left: 30px!important;
}
.pad-l-lg {
	padding-left: 60px!important;
}

.pad-r-none {
    padding-right: 0 !important;
}
.pad-r-sm {
	padding-right: 10px!important;
}
.pad-r-m {
	padding-right: 30px!important;
}
.pad-r-lg {
	padding-right: 60px!important;
}

.pad-t-none {
    padding-top: 0 !important;
}
.pad-t-sm {
	padding-top: 10px!important;
}
.pad-t-m {
	padding-top: 30px!important;
}
.pad-t-lg {
	padding-top: 60px!important;
}

.pad-b-none {
    padding-bottom: 0 !important;
}
.pad-b-sm {
	padding-bottom: 10px!important;
}
.pad-b-m {
	padding-bottom: 30px!important;
}
.pad-b-lg {
	padding-bottom: 60px!important;
}

.bg {
    &.bg-dark {
        background-color: $color_backbround;
        color: $color_white;
    }
}

section {
    &.pad-b-lg {
        padding-bottom: 180px !important;
    }
    &#hubungi {
        padding-top: 140px;
    }
}

.btn {
    font-weight: $font_semibold;
    &.btn-capsule {
        border-radius: $radius_capsule;
    }
    &.btn-ext {
        padding-right: 20px;
		padding-left: 20px;
    }
    &.btn-ext2 {
        padding-right: 40px;
		padding-left: 40px;
    }
    &.btn-prime {
        background: $color_backbround;
        color: $color_white !important;
        border: solid 1px $color_backbround;
        &.active {
            background: darken( $color_backbround, 10% );
            color: $color_white;
        }
        &:focus {
            background: darken( $color_backbround, 10% );
            color: $color_white;
        }
        &:hover {
            background: darken( $color_backbround, 10% );
            color: $color_white;
        }
        &.btn-outline {
            background: $color_white;
            color: $color_backbround;
            border: solid 1px $color_backbround;
            &.active {
                color: $color_backbround;
                background: darken( $color_white, 3% );
            }
            &:focus {
                color: $color_backbround;
                background: darken( $color_white, 3% );
            }
            &:hover {
                color: $color_backbround;
                background: darken( $color_white, 3% );
            }
        }
        &.btn-outline-transparent {
            background: $color_white;
            color: $color_black;
            border: 0px;
        }
        &.btn-shadow {
            box-shadow: 0 3px 9px 0 rgba(0, 47, 89, 0.2);
        }
    }
}

.form-md-line {
    .form-group {
        margin-bottom: 24px;
        label {
            font-weight: $font_regular;
        }
        .form-control {
            border: 0;
            border-bottom: 1px solid $color_black;
            border-radius: 0;
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.navbar {
	margin-bottom: 0;
	border: none;
	min-height: 80px;
	&.navbar-default {
		&.navbar-transparent {
			background-color: transparent;
			border-color: transparent;
			.navbar-nav > li > a {
                padding: 5px 0;
                color: $color_white;
                font-weight: $font_semibold;
                &.btn {
                    padding: 8px 15px;
                    &:hover, &:focus {
                        background: lighten( $color_backbround, 10% );;
                    }
                }
            }
            .navbar-nav > li {
                padding: 5px 15px;
                &.active {
                    > a {
                        background: $color_white;
                        color: $color_primary !important;
                        border-bottom: 1px solid $color_primary;
                    }
                }
            }
            .navbar-area {
                -moz-transition: padding .3s;
                -webkit-transition: all .4s ease;
                transition: all .4s ease;
                .navbar-brand {
                    padding-top: 0;
                    padding-bottom: 0;
                    > img {
                        height: 70px;
                    }
                }
            }
			.btn-white-transparent {
				border: 1px solid $color_white;
				background-color: transparent;
				color: $color_white;
				&.active {
					background-color: transparent;
				}
				&:focus {
					background-color: transparent;
				}
				&:hover {
					background-color: transparent;
				}
				&:active {
					background-color: transparent;
				}
			}
			&.navbar-shrink {
				background-color: $color_white;
				box-shadow: 0 5px 10px 0 rgba(139, 127, 98, 0.35);
				.navbar-nav > li > a {
					color: $color_black;
                }
                .navbar-area {
                    padding-top: 15px;
                    padding-bottom: 0;
                    -moz-transition: padding .3s;
                    -webkit-transition: all .4s ease;
                    transition: all .4s ease
                }
			}
		}
	}
	&.navbar-fixed-top {
		z-index: 100!important;
		padding: 0;
		-moz-transition: padding .3s;
		-webkit-transition: all .4s ease;
		transition: all .4s ease;
        .navbar-collapse {
            max-height: none;
        }
	}
	.animated {
		@-webkit-keyframes bounceIn {
			from,
			20%,
			40%,
			60%,
			80%,
			to {
			  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			}

			0% {
			  opacity: 0;
			  -webkit-transform: scale3d(0.3, 0.3, 0.3);
			  transform: scale3d(0.3, 0.3, 0.3);
			}

			20% {
			  -webkit-transform: scale3d(1.1, 1.1, 1.1);
			  transform: scale3d(1.1, 1.1, 1.1);
			}

			40% {
			  -webkit-transform: scale3d(0.9, 0.9, 0.9);
			  transform: scale3d(0.9, 0.9, 0.9);
			}

			60% {
			  opacity: 1;
			  -webkit-transform: scale3d(1.03, 1.03, 1.03);
			  transform: scale3d(1.03, 1.03, 1.03);
			}

			80% {
			  -webkit-transform: scale3d(0.97, 0.97, 0.97);
			  transform: scale3d(0.97, 0.97, 0.97);
			}

			to {
			  opacity: 1;
			  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
			}
		  }

		  @keyframes bounceIn {
			from,
			20%,
			40%,
			60%,
			80%,
			to {
			  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			}

			0% {
			  opacity: 0;
			  -webkit-transform: scale3d(0.3, 0.3, 0.3);
			  transform: scale3d(0.3, 0.3, 0.3);
			}

			20% {
			  -webkit-transform: scale3d(1.1, 1.1, 1.1);
			  transform: scale3d(1.1, 1.1, 1.1);
			}

			40% {
			  -webkit-transform: scale3d(0.9, 0.9, 0.9);
			  transform: scale3d(0.9, 0.9, 0.9);
			}

			60% {
			  opacity: 1;
			  -webkit-transform: scale3d(1.03, 1.03, 1.03);
			  transform: scale3d(1.03, 1.03, 1.03);
			}

			80% {
			  -webkit-transform: scale3d(0.97, 0.97, 0.97);
			  transform: scale3d(0.97, 0.97, 0.97);
			}

			to {
			  opacity: 1;
			  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
			}
		  }

		  &.bounceIn {
			-webkit-animation-duration: 0.75s;
			animation-duration: 0.75s;
			-webkit-animation-name: bounceIn;
			animation-name: bounceIn;
		  }
	}
}

.header-intro {
    background:$color_primary;
    position:relative;
    // margin-top: 80px;
    // min-height: calc(100% - 80px);
    min-height: 100%;
    height:auto !important;
    // height: calc(100% - 80px);
    height: 100%;
    background: url(../img/background/headerintro_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: $color_black_grey;
    h1 {
        color: $color_black;
    }
    .mockup-img {
        margin-top: 30%;
    }
}

.header-card {
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(10px);
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .header-card {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.7) !important;  
    }
}

.media {
    &.media-choice {
        margin-bottom: 110px;
        .media-right, .media-left {
            width: 35%;
        }
    }
    &.media-thumbnail {
        min-height: 40px;
        .media-left {
            padding-right: 15px;
        }
    }
    &.media-50 {
        .media-right {
            width: 50%;
        }
    }
    &.media-60 {
        .media-right {
            width: 60%;
        }
    }
}

.card {
    position: relative;
    background: $color_white;
    margin-bottom: 30px;
    h3.card-heading,
    h4.card-heading {
        margin-bottom: 30px;
        margin-top: 0;
    }
    h4.card-title {
        font-size: 1.429em; //20px
    }
    &.card-pd__lg {
        padding: 60px;
    }
    &.card-pd__md,
    .card-pd__md {
        padding: 40px;
        &.card-pd_tb__none {
            padding-top: 0;
            padding-bottom: 0;
        }
        &.card-pd_tb__sm {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    &.card-pd__sm {
        padding: 20px;
        &.card-pd_tb__md {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &.card-pd_tb__lg {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
    &.card-boxed {
        box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
    }
    .abs-numbering_circle {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: $radius_circle;
        background: $color_primary;
        color: $color_white;
        border: 3px solid $color_white;
        box-shadow: 0 3px 9px 0 rgba(158, 31, 99, 0.2);
        margin-right: auto;
        margin-left: auto;
        margin-top: -70px;
        margin-bottom: 20px;
        text-align: center;
        div {
            font-size: 1.714em;
            margin-top: calc(50% - 0.7em);
        }
    }
    .abs-capsule {
        position: absolute;
        display: inline-block;
        width: 260px;
        border: 2px solid $color_primary;
        border-radius: $radius_capsule;
        color: $color_primary;
        background-color: $color_white;
        padding: 4px;
        text-align: center;
        top: -1em;
        left: calc(50% - 130px);
        &.abs-bg {
            background-color: $color_primary;
            color: $color_white;
        }
    }
}

ul {
    &.masterplan {
        padding-left: 15px;
        > li {
            line-height: 2.4em
        }
    }
    &.timeline {
        list-style: none;
        padding: 0;
        position: relative;
        &::before {
            top: 0;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 1px;
            background-color: $color_black;
            left: 15px;
        }
        > li {
            margin-bottom: 30px;
            position: relative;
            > .timeline-panel {
                width: 100%;
                border-radius: 2px;
                padding-left: 40px;
                position: relative;
                .timeline-heading {
                    .timeline-title {
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                .timeline-body {
                    ul {
                        padding-left: 20px;
                        li {
                            list-style: disc;
                        }
                    }
                }
            }
            > .timeline-badge {
                color: $color_black;
                width: 30px;
                height: 35px;
                line-height: 30px;
                font-size: 1em;
                text-align: center;
                position: absolute;
                left: 0;
                background-color: $color_white;
                z-index: 10;
            }
        }
    }
}

.custom-tab {
    border-bottom: none;
    > li {
        a {
            border-radius: $radius_capsule;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 10px;
            color: $color_grey;
            &:focus{
                background-color: $color_white;
            }
        }
        &.active {
            a {
                box-shadow: 0 3px 9px 0 rgba(158, 31, 99, 0.2);
                font-weight: $font_semibold;
            }
        }
    }
}

.tab-tipeunit {
    border-bottom: 0;
    > li {
        > a {
            margin-right: 12px;
            border: 1.5px solid #0B1A2F;
            background-color: transparent;
            color: $color_backbround;
            padding: 8px 20px;
            border-radius: 8px;
            &:hover {
                border: 1.5px solid #0B1A2F;
                background-color: transparent;
            }
        }
        &.active {
            > a {
                margin-right: 12px;
                border: 1px solid #0B1A2F;
                background-color: $color_backbround;
                color: $color_white;
                &:hover, &:focus {
                    border: 1px solid #0B1A2F;
                    background-color: $color_backbround;
                    color: $color_white;
                }
            }
        }
    }
}

.vertical-tab {
    &.tab-left {
        > li {
            float: none;
            margin: 0;
        }
    }
}

.thumbnail {
    position: relative;
    margin-bottom: 40px;
    &.thumbnail-tight {
        padding: 0;
        border-radius: $radius_sm;
        .abs-numbering_circle {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: $radius_circle;
            background: $color_primary;
            color: $color_white;
            border: 3px solid $color_white;
            box-shadow: 0 3px 9px 0 rgba(158, 31, 99, 0.2);
            left: calc(50% - 20px);
            top: 5px;
            text-align: center;
            div {
                font-size: 1.714em;
                margin-top: calc(50% - 0.7em);
            }
        }
        .img-thumb {
            img {
                max-width: 100%;
            }
        }
        .caption {
            background: $color_background;
            p {
                margin-bottom: 0;
                min-height: 2.857em;
            }
        }
    }
    &.thumbnail-borderless {
        border: 0;
        padding: 0;
    }
    &.thumbnail-boxed {
        box-shadow: 0px 8px 18px 2px rgba(107, 107, 107, 0.16);
    }
    .play-button {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        img {
            position: absolute;
            top: calc(50% - 44px);
            left: calc(50% - 48px);
        }
    }
}

.badge-ribbon {
	width: 200px;
	padding: 3px;
	position: absolute;
	text-align: center;
	top: 35px;
    left: -55px;
	transform: rotate(-45deg);
	background: $color_primary;
	color: #ffffff;
	font-size: 12px;
}

.fitur-carousel {
    .owl-nav {
        position: absolute;
        width: 100%;
        top: calc(50% - 30px);
        .owl-prev, .owl-next {
            position: absolute;
            background: $color_white !important;
            width: 60px;
            height: 60px;
            box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.16);
            border-radius: $radius_circle;
            span {
                font-size: 3em;
                line-height: 0.6em;
            }
        }
        .owl-prev {
            left: -30px;
        }
        .owl-next {
            right: -30px;
        }
    }
}

.gallery {
    padding-top: 80px;
    text-align: center;
    .albery-container {
        margin: 0 auto 50px;
        .move-left, .move-right {
            a {
                border-left: 0;
                border-right: 0;
                border-top: 0;
                border-bottom: 0;
                background: rgba(255, 255, 255, 0.5);
                border-radius: $radius_circle;
                width: 60px;
                height: 60px;
                i {
                    font-size: 36px;
                    color: $color_secondary;
                    line-height: 60px;
                }
            }
        }
    }
    .gallery-pagination {
        width: 100% !important;
    }
}

.map-info {
    width: 100%;
    list-style-type:none;
    display: table;
    width: 100%;
    .list-info {
        display: table-cell;
        padding-right: 30px;
        .separator {
            border-right: 1px solid $color_black;
        }
    }
}

.background-wrapper_1 {
    background: url(../img/background/background-wave_1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.background-wrapper_2 {
    background: url(../img/background/background-wave_2.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.unit {
    padding: 70px 15px;
    background-color: #E1EDFF;
}

#footer {
    background: $color_backbround;
    padding: 40px 0;
    .main-footer {
        color: $color_white;
        p {
            color: $color_white;
        }
        ul {
            &.social-share {
                padding: 0;
                > li {
                    display: inline-block;
                    position: relative;
                    margin-right: 15px;
                    :last-child {
                        margin-right: 0;
                    }
                    a {
                        img {
                            transition: .2s ease-out;
                        }
                        &:hover {
                            img {
                                margin-top: -10px;
                            }
                        }
                    }
                }
                
            }
            &.footer__list-1 {
                padding: 0;
                margin-bottom: 20px;
                li {
                    list-style: none;
                    font-size: 14px;
                    margin-bottom: 15px;
                    a {
                        color: $color_white;
                    }
                    &.title {
                        color: $color_white;
                    }
                }
            }
        }
    }
    .copy-footer {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

@media only screen and(min-width:1440px) {
    .bg {
        &.bg-wave {
            padding-top: 260px;
            padding-bottom: 260px;
        }
    }
}
@media only screen and(min-width:1920px) {
    .col-xl-5 {
        width: 41.66666667%;
    }
    .header-intro {
        // margin-top: 100px;
        // min-height: calc(80% - 100px)  !important;
        min-height: 100%  !important;
        height:auto !important;
        // height: calc(80% - 100px);
        height: 100%;
    }
    .header-card {
        margin-top: calc(50% - 8em) !important;
    }
    .bg {
        &.bg-wave {
            padding-top: 360px;
            padding-bottom: 360px;
        }
    }
    .card {
        &.card-efd {
            min-height: 153px;
        }
    }
    .media {
        &.media-thumbnail {
            min-height: 62px;
        }
        &.media-choice {
            margin-bottom: 50px;
            .media-left, .media-right {
                width: 45%;
            }
        }
    }
    .connector {
        background-position-y: 60% !important;
    }
    .float-btn_right {
        &.right_1 {
            top: calc(50% - 70px) !important;
        }
        &.right_2 {
            top: 50%;
        }
        .btn-pesan-sekarang, .btn-whatsapp {
            width: 250px !important;
            transition: 0.15s ease;
            &:hover {
                width: 265px !important;
            }
        }
    }
    .background-wrapper_1 {
        background-position-y: 120% !important;
    }
    #footer {
        background-size: contain;
        .pre-footer {
            .img-pre-footer {
                width: 350px;
                left: calc(50% - 175px);
            }
        }
        .copy-footer {
            padding-top: 120px;
            padding-bottom: 30px;
        }
    }
}
@media only screen and(min-width:1240px) {
	.container-fluid {
        &.fluid-lg {
			padding-right: 160px;
            padding-left: 160px;
        }
		&.fluid-md {
			padding-right: 90px;
            padding-left: 90px;
            .no-gutter_left {
                margin-left: -90px
            }
            .no-gutter_right{
                margin-right: -90px;
                float:right;
            }
		}
		&.fluid-sm {
			padding-right: 60px;
			padding-left: 60px;
		}
		&.fluid-xs {
			padding-right: 25px;
			padding-left: 25px;
		}
    }
}

@media(min-width: 768px) and(max-width: 1024px) {
	.container-fluid {
        &.fluid-lg {
            padding-right: 20px;
            padding-left: 20px;
        }
        &.fluid-md {
            padding-right: 20px;
            padding-left: 20px;
            .no-gutter_left {
                margin-left: -120px
            }
            .no-gutter_right{
                margin-right: -120px
            }
        }
    }
}

@media only screen and(min-width:768px) {
    .float-right_md {
        float: right;
    }
    .mg-l-none_md {
        margin-left: 0 !important;
    }
    .mg-l-sm_md {
        margin-left: 10px!important;
    }
    .mg-l-m_md {
        margin-left: 30px!important;
    }
    .mg-l-lg_md {
        margin-left: 60px!important;
    }
    .no-float-column {
		display: table-cell;
		vertical-align: middle;
		float: none;
    }
    .vertical-center {
        display: flex;
        align-items: center;
    }
    .text-right_md {
        text-align: right;
    }
    .pad-r-none_md {
        padding-right: 0;
    }
    .navbar {
        min-height: 100px;
        &.navbar-default {
            &.navbar-transparent {
                background-color: transparent;
                border-color: transparent;
                .navbar-nav > li > a {
                    color: $color_black;
                    font-weight: $font_semibold;
                }
                .navbar-area {
                    padding-bottom: 30px;
                    padding-top: 20px;
                    .navbar-collapse {
                        padding:0
                    }
                    .navbar-brand {
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
        .navbar-nav {
            padding-top: 10px;
        }
        .navbar-center {
            width: 63%;
            position: absolute;
            left: 47%;
            transform: translatex(-50%);
          }
    }
    .float-btn_right {
        position: fixed;
        z-index: 100;
        right: 0;
        &.right_1 {
            top: calc(50% - 64px);
        }
        &.right_2 {
            top: 50%;
        }
        .btn-pesan-sekarang {
            padding: 11px 8px;
            background: #E36363;
            color: $color_white;
        }
        .btn-whatsapp {
            padding: 8px;
            background: #E7EFDF;
            color: $color_black;
        }
        .btn-pesan-sekarang, .btn-whatsapp {
            display: inline-block;
            border-radius: 12px 0px 0px 12px;
            width: 175px;
            transition: 0.15s ease;
            &:hover {
                width: 185px;
            }
        }
    }

    .card {
        &.card-step {
            p {
                min-height: 60px;
            }
        }
        &.card-fitur {
            background-image: url(../img/general/orn-ellips_3.svg);
            background-repeat: no-repeat;
            background-position: top right;
            padding: 60px 80px;
            background-color: #EFEFEF;
            margin-bottom: 0;
        }
    }
    .thumbnail {
        &.thumbnail-tight {
            .caption {
                padding: 15px;
            }
        }
    }
    .vertical-tagline {
        margin-top: 15%;
    }
    .header-intro {
        // margin-top: 100px;
        // min-height: calc(100% - 100px);
        min-height: 100%;
        height:auto !important;
        // height: calc(100% - 100px);
        height: 100%;
    }
    .header-card {
        margin-top: calc(50% - 10em);
    }
    .connector {
        background-image: url(../img/general/connector.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 80%;
    }
    .gallery {
        padding: 50px 40px;
    }
    #footer {
        .main-footer {
            ul {
                &.footer__list-1 {
                    &.with-icon {
                        li {
                            position: relative;
                            padding-left: 30px;
                            &.title {
                                padding-left: 0;
                            }
                            img {
                                position: absolute;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and(max-width:767px) {
    body, html {
        font-size: 13px;
    }
    h1 {
        font-size: 2.143em;
    }
    .text-center_xs {
        text-align: center;
    }
    .mg-section {
        margin-bottom: 0;
    }
    .pad-section {
        padding-top: 80px;
    }
    .pad-t-none_xs {
        padding-top: 0 !important;
    }
    .mg-t-none_xs {
        margin-top: 0 !important;
    }
    .mg-t-sm_xs {
        margin-top: 10px!important;
    }
    .mg-t-m_xs {
        margin-top: 30px!important;
    }
    .mg-t-lg_xs {
        margin-top: 60px!important;
    }
    .mg-b-none_xs {
        margin-bottom: 0 !important;
    }
    .mg-b-sm_xs {
        margin-bottom: 10px!important;
    }
    .mg-b-m_xs {
        margin-bottom: 30px!important;
    }
    .mg-b-lg_xs {
        margin-bottom: 60px!important;
    }
    .navbar {
        &.navbar-default {
            &.navbar-transparent {
                background-color: transparent;
                border-color: transparent;
                .navbar-nav > li > a {
                    color: $color_black;
                    font-weight: $font_semibold;
                }
                .navbar-area {
                    padding-bottom: 15px;
                    padding-top: 15px;
                    &.navbar-collapse {
                        background-color: $color_white;
                        .navbar-right {
                            .navbar-nav {
                                li {
                                    a {
                                        color: $color_black;
                                    }
                                }
                            }
                        }
                    }
                    .navbar-brand {
                        padding-top: 0;
                        padding-bottom: 0;
                        img {
                            height: 48px;
                            margin-top: 5px;
                        }
                    }
                }
                &.navbar-shrink {
                    .navbar-area {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
    .container-fluid {
        &.fluid-md {
            .no-gutter_left {
                margin-left: -15px
            }
            .no-gutter_right{
                margin-right: -15px;
                float:right;
            }
		}
    }
    .header-intro {
        min-height: auto;
        height: auto !important;
        height: auto;
    }
    .card {
        &.card-pd__lg,
        &.card-pd__md,
        .card-pd__md {
            padding: 40px 15px;
        }
        &.card-step {
            margin-bottom: 60px;
            p {
                min-height: 70px;
            }
        }
        &.card-boxed_xs {
            box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
        }
    }
    .header-card {
        margin-top: 50%;
    }
    .float-btn_right {
        position: fixed;
        z-index: 100;
        right: 0;
        &.right_1, &.right_2 {
            bottom: 10px;
        }
        &.right_1 {
            left: 0;
        }
        .btn-pesan-sekarang {
            padding: 8px;
            background: #E36363;
            color: $color_white;
            border-radius: 0 12px 12px 0;
        }
        .btn-whatsapp {
            padding: 8px;
            background: #E7EFDF;
            color: $color_black;
            border-radius: 12px 0px 0px 12px;
        }
        .btn-pesan-sekarang, .btn-whatsapp {
            display: inline-block;
            width: 150px;
            img {
                width: 18px;
            }
        }
    }
    .thumbnail {
        &.thumbnail-tight {
            .caption {
                padding: 15px;
            }
        }
    }
    .media {
        &.media-50, &.media-60, &.media-choice {
            .media-body {
                display: block;
                width: 100%;
            }
            .media-left, .media-right {
                display: block;
                width: 100%;
                padding-left: 0;
            }
        }
        &.media-choice {
            margin-bottom: 50px;
        }
    }
    .fitur-carousel {
        .owl-nav {
            .owl-prev {
                left: -10px;
            }
            .owl-next {
                right: -10px;
            }
        }
    }
    .map-info {
        padding: 0;
        .list-info {
            display: block;
            text-align: center;
            width: 100%;
            margin-bottom: 15px;
            padding-right: 0;
            .separator {
                padding-bottom: 15px;
                border-right: 0;
                border-bottom: 1px solid $color_black;
            }
        }
    }
    .gallery {
        .albery-container {
            width: 290px !important;
            margin: 0 auto 20px;
            
        }
        .gallery-pagination {
            .pagination-wrapper {
                .pagination-item {
                    width: 90px !important;
                }
            }
        }
    }

    #footer {
        .main-footer {
            text-align: center;
        }
        .pre-footer {
            text-align: center;
            margin-bottom: 50px;
        }
        .copy-footer {
            padding-top: 40px;
            text-align: center
        }
    }
}

@media only screen and(max-width:420px) {}