body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.095vw;
  color: #333533;
}

body,
html {
  height: 100%;
}

a {
  color: #01A149;
  cursor: pointer;
}

a:hover {
  color: #016e32;
  text-decoration: none;
}

h1 {
  font-size: 3.285em;
  line-height: 1.4em;
}

h2 {
  font-size: 2.571em;
  line-height: 1.4em;
}

h3 {
  font-size: 1.714em;
}

h4 {
  font-size: 1.286em;
  margin-top: 0;
  line-height: 1.8em;
}

h5 {
  font-size: 1.143em;
  line-height: 1.8em;
}

p {
  font-size: 1em;
  color: #414141;
}

.text-regular {
  font-weight: 400 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-semibold {
  font-weight: 600 !important;
}

.text-medium {
  font-weight: 400 !important;
}

.text-small {
  font-size: 0.857em;
}

.text-xsmall {
  font-size: 0.714em;
  line-height: 1.4em;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-prime {
  color: #01A149;
}

.text-secondary {
  color: #FFC742;
}

.text-grey {
  color: #828282;
}

.text-headline {
  position: relative;
}

.text-headline::before {
  content: ' ';
  position: absolute;
  top: -25px;
  left: 0;
  width: 90px;
  height: 7px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, right top, left top, from(#cd429c), to(#9e1f63));
  background-image: linear-gradient(to left, #cd429c, #9e1f63);
}

.text-headline.text-center::before {
  top: -25px;
  left: 50%;
  margin-left: -45px;
  width: 90px;
  height: 7px;
}

.text-headline.diklat-theme::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#8b7f62), to(#e2cfa1));
  background-image: linear-gradient(to right, #8b7f62, #e2cfa1);
}

.text-heading {
  display: inline-block;
  padding: 8px 52px;
  border-radius: 50px !important;
  text-transform: uppercase;
}

.text-heading.heading-primary {
  background-color: #01A149;
  color: #ffffff;
}

.full-height {
  height: 100%;
}

.max-width_100 {
  max-width: 100%;
}

.img-responsive {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.pad-section {
  padding-top: 100px;
}

.mg-none {
  margin: 0 !important;
}

.mg-l-none {
  margin-left: 0 !important;
}

.mg-l-sm {
  margin-left: 10px !important;
}

.mg-l-m {
  margin-left: 30px !important;
}

.mg-l-lg {
  margin-left: 60px !important;
}

.mg-r-none {
  margin-right: 0 !important;
}

.mg-r-sm {
  margin-right: 10px !important;
}

.mg-r-m {
  margin-right: 30px !important;
}

.mg-r-lg {
  margin-right: 60px !important;
}

.mg-t-none {
  margin-top: 0 !important;
}

.mg-t-xs {
  margin-top: 5px !important;
}

.mg-t-sm, .mt-10 {
  margin-top: 10px !important;
}

.mg-t-m {
  margin-top: 30px !important;
}

.mg-t-lg {
  margin-top: 60px !important;
}

.mg-b-none {
  margin-bottom: 0 !important;
}

.mg-b-sm {
  margin-bottom: 10px !important;
}

.mg-b-m {
  margin-bottom: 30px !important;
}

.mg-b-lg {
  margin-bottom: 60px !important;
}

.pad-l-none {
  padding-left: 0 !important;
}

.pad-l-sm {
  padding-left: 10px !important;
}

.pad-l-m {
  padding-left: 30px !important;
}

.pad-l-lg {
  padding-left: 60px !important;
}

.pad-r-none {
  padding-right: 0 !important;
}

.pad-r-sm {
  padding-right: 10px !important;
}

.pad-r-m {
  padding-right: 30px !important;
}

.pad-r-lg {
  padding-right: 60px !important;
}

.pad-t-none {
  padding-top: 0 !important;
}

.pad-t-sm {
  padding-top: 10px !important;
}

.pad-t-m {
  padding-top: 30px !important;
}

.pad-t-lg {
  padding-top: 60px !important;
}

.pad-b-none {
  padding-bottom: 0 !important;
}

.pad-b-sm {
  padding-bottom: 10px !important;
}

.pad-b-m {
  padding-bottom: 30px !important;
}

.pad-b-lg {
  padding-bottom: 60px !important;
}

.bg.bg-dark {
  background-color: #19274c;
  color: #ffffff;
}

section.pad-b-lg {
  padding-bottom: 180px !important;
}

section#hubungi {
  padding-top: 140px;
}

.btn {
  font-weight: 600;
}

.btn.btn-capsule {
  border-radius: 50px !important;
}

.btn.btn-ext {
  padding-right: 20px;
  padding-left: 20px;
}

.btn.btn-ext2 {
  padding-right: 40px;
  padding-left: 40px;
}

.btn.btn-prime {
  background: #19274c;
  color: #ffffff !important;
  border: solid 1px #19274c;
}

.btn.btn-prime.active {
  background: #0c1326;
  color: #ffffff;
}

.btn.btn-prime:focus {
  background: #0c1326;
  color: #ffffff;
}

.btn.btn-prime:hover {
  background: #0c1326;
  color: #ffffff;
}

.btn.btn-prime.btn-outline {
  background: #ffffff;
  color: #19274c;
  border: solid 1px #19274c;
}

.btn.btn-prime.btn-outline.active {
  color: #19274c;
  background: #f7f7f7;
}

.btn.btn-prime.btn-outline:focus {
  color: #19274c;
  background: #f7f7f7;
}

.btn.btn-prime.btn-outline:hover {
  color: #19274c;
  background: #f7f7f7;
}

.btn.btn-prime.btn-outline-transparent {
  background: #ffffff;
  color: #333533;
  border: 0px;
}

.btn.btn-prime.btn-shadow {
  -webkit-box-shadow: 0 3px 9px 0 rgba(0, 47, 89, 0.2);
          box-shadow: 0 3px 9px 0 rgba(0, 47, 89, 0.2);
}

.form-md-line .form-group {
  margin-bottom: 24px;
}

.form-md-line .form-group label {
  font-weight: 400;
}

.form-md-line .form-group .form-control {
  border: 0;
  border-bottom: 1px solid #333533;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  margin-bottom: 0;
  border: none;
  min-height: 80px;
}

.navbar.navbar-default.navbar-transparent {
  background-color: transparent;
  border-color: transparent;
}

.navbar.navbar-default.navbar-transparent .navbar-nav > li > a {
  padding: 5px 0;
  color: #ffffff;
  font-weight: 600;
}

.navbar.navbar-default.navbar-transparent .navbar-nav > li > a.btn {
  padding: 8px 15px;
}

.navbar.navbar-default.navbar-transparent .navbar-nav > li > a.btn:hover, .navbar.navbar-default.navbar-transparent .navbar-nav > li > a.btn:focus {
  background: #263b72;
}

.navbar.navbar-default.navbar-transparent .navbar-nav > li {
  padding: 5px 15px;
}

.navbar.navbar-default.navbar-transparent .navbar-nav > li.active > a {
  background: #ffffff;
  color: #01A149 !important;
  border-bottom: 1px solid #01A149;
}

.navbar.navbar-default.navbar-transparent .navbar-area {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.navbar.navbar-default.navbar-transparent .navbar-area .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.navbar-default.navbar-transparent .navbar-area .navbar-brand > img {
  height: 70px;
}

.navbar.navbar-default.navbar-transparent .btn-white-transparent {
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.navbar.navbar-default.navbar-transparent .btn-white-transparent.active {
  background-color: transparent;
}

.navbar.navbar-default.navbar-transparent .btn-white-transparent:focus {
  background-color: transparent;
}

.navbar.navbar-default.navbar-transparent .btn-white-transparent:hover {
  background-color: transparent;
}

.navbar.navbar-default.navbar-transparent .btn-white-transparent:active {
  background-color: transparent;
}

.navbar.navbar-default.navbar-transparent.navbar-shrink {
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(139, 127, 98, 0.35);
          box-shadow: 0 5px 10px 0 rgba(139, 127, 98, 0.35);
}

.navbar.navbar-default.navbar-transparent.navbar-shrink .navbar-nav > li > a {
  color: #333533;
}

.navbar.navbar-default.navbar-transparent.navbar-shrink .navbar-area {
  padding-top: 15px;
  padding-bottom: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.navbar.navbar-fixed-top {
  z-index: 100 !important;
  padding: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.navbar.navbar-fixed-top .navbar-collapse {
  max-height: none;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.navbar .animated.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.header-intro {
  background: #01A149;
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background: url(../img/background/headerintro_0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  color: #414141;
}

.header-intro h1 {
  color: #333533;
}

.header-intro .mockup-img {
  margin-top: 30%;
}

.header-card {
  background: rgba(255, 255, 255, 0.8) !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header-card {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
}

.media.media-choice {
  margin-bottom: 110px;
}

.media.media-choice .media-right, .media.media-choice .media-left {
  width: 35%;
}

.media.media-thumbnail {
  min-height: 40px;
}

.media.media-thumbnail .media-left {
  padding-right: 15px;
}

.media.media-50 .media-right {
  width: 50%;
}

.media.media-60 .media-right {
  width: 60%;
}

.card {
  position: relative;
  background: #ffffff;
  margin-bottom: 30px;
}

.card h3.card-heading,
.card h4.card-heading {
  margin-bottom: 30px;
  margin-top: 0;
}

.card h4.card-title {
  font-size: 1.429em;
}

.card.card-pd__lg {
  padding: 60px;
}

.card.card-pd__md,
.card .card-pd__md {
  padding: 40px;
}

.card.card-pd__md.card-pd_tb__none,
.card .card-pd__md.card-pd_tb__none {
  padding-top: 0;
  padding-bottom: 0;
}

.card.card-pd__md.card-pd_tb__sm,
.card .card-pd__md.card-pd_tb__sm {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card.card-pd__sm {
  padding: 20px;
}

.card.card-pd__sm.card-pd_tb__md {
  padding-top: 40px;
  padding-bottom: 40px;
}

.card.card-pd__sm.card-pd_tb__lg {
  padding-top: 60px;
  padding-bottom: 60px;
}

.card.card-boxed {
  -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
}

.card .abs-numbering_circle {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #01A149;
  color: #ffffff;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 3px 9px 0 rgba(158, 31, 99, 0.2);
          box-shadow: 0 3px 9px 0 rgba(158, 31, 99, 0.2);
  margin-right: auto;
  margin-left: auto;
  margin-top: -70px;
  margin-bottom: 20px;
  text-align: center;
}

.card .abs-numbering_circle div {
  font-size: 1.714em;
  margin-top: calc(50% - 0.7em);
}

.card .abs-capsule {
  position: absolute;
  display: inline-block;
  width: 260px;
  border: 2px solid #01A149;
  border-radius: 50px !important;
  color: #01A149;
  background-color: #ffffff;
  padding: 4px;
  text-align: center;
  top: -1em;
  left: calc(50% - 130px);
}

.card .abs-capsule.abs-bg {
  background-color: #01A149;
  color: #ffffff;
}

ul.masterplan {
  padding-left: 15px;
}

ul.masterplan > li {
  line-height: 2.4em;
}

ul.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

ul.timeline::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #333533;
  left: 15px;
}

ul.timeline > li {
  margin-bottom: 30px;
  position: relative;
}

ul.timeline > li > .timeline-panel {
  width: 100%;
  border-radius: 2px;
  padding-left: 40px;
  position: relative;
}

ul.timeline > li > .timeline-panel .timeline-heading .timeline-title {
  margin-top: 0;
  margin-bottom: 0;
}

ul.timeline > li > .timeline-panel .timeline-body ul {
  padding-left: 20px;
}

ul.timeline > li > .timeline-panel .timeline-body ul li {
  list-style: disc;
}

ul.timeline > li > .timeline-badge {
  color: #333533;
  width: 30px;
  height: 35px;
  line-height: 30px;
  font-size: 1em;
  text-align: center;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  z-index: 10;
}

.custom-tab {
  border-bottom: none;
}

.custom-tab > li a {
  border-radius: 50px !important;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  color: #828282;
}

.custom-tab > li a:focus {
  background-color: #ffffff;
}

.custom-tab > li.active a {
  -webkit-box-shadow: 0 3px 9px 0 rgba(158, 31, 99, 0.2);
          box-shadow: 0 3px 9px 0 rgba(158, 31, 99, 0.2);
  font-weight: 600;
}

.tab-tipeunit {
  border-bottom: 0;
}

.tab-tipeunit > li > a {
  margin-right: 12px;
  border: 1.5px solid #0B1A2F;
  background-color: transparent;
  color: #19274c;
  padding: 8px 20px;
  border-radius: 8px;
}

.tab-tipeunit > li > a:hover {
  border: 1.5px solid #0B1A2F;
  background-color: transparent;
}

.tab-tipeunit > li.active > a {
  margin-right: 12px;
  border: 1px solid #0B1A2F;
  background-color: #19274c;
  color: #ffffff;
}

.tab-tipeunit > li.active > a:hover, .tab-tipeunit > li.active > a:focus {
  border: 1px solid #0B1A2F;
  background-color: #19274c;
  color: #ffffff;
}

.vertical-tab.tab-left > li {
  float: none;
  margin: 0;
}

.thumbnail {
  position: relative;
  margin-bottom: 40px;
}

.thumbnail.thumbnail-tight {
  padding: 0;
  border-radius: 5px;
}

.thumbnail.thumbnail-tight .abs-numbering_circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #01A149;
  color: #ffffff;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 3px 9px 0 rgba(158, 31, 99, 0.2);
          box-shadow: 0 3px 9px 0 rgba(158, 31, 99, 0.2);
  left: calc(50% - 20px);
  top: 5px;
  text-align: center;
}

.thumbnail.thumbnail-tight .abs-numbering_circle div {
  font-size: 1.714em;
  margin-top: calc(50% - 0.7em);
}

.thumbnail.thumbnail-tight .img-thumb img {
  max-width: 100%;
}

.thumbnail.thumbnail-tight .caption {
  background: #F2F2F2;
}

.thumbnail.thumbnail-tight .caption p {
  margin-bottom: 0;
  min-height: 2.857em;
}

.thumbnail.thumbnail-borderless {
  border: 0;
  padding: 0;
}

.thumbnail.thumbnail-boxed {
  -webkit-box-shadow: 0px 8px 18px 2px rgba(107, 107, 107, 0.16);
          box-shadow: 0px 8px 18px 2px rgba(107, 107, 107, 0.16);
}

.thumbnail .play-button {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.thumbnail .play-button img {
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 48px);
}

.badge-ribbon {
  width: 200px;
  padding: 3px;
  position: absolute;
  text-align: center;
  top: 35px;
  left: -55px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #01A149;
  color: #ffffff;
  font-size: 12px;
}

.fitur-carousel .owl-nav {
  position: absolute;
  width: 100%;
  top: calc(50% - 30px);
}

.fitur-carousel .owl-nav .owl-prev, .fitur-carousel .owl-nav .owl-next {
  position: absolute;
  background: #ffffff !important;
  width: 60px;
  height: 60px;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
}

.fitur-carousel .owl-nav .owl-prev span, .fitur-carousel .owl-nav .owl-next span {
  font-size: 3em;
  line-height: 0.6em;
}

.fitur-carousel .owl-nav .owl-prev {
  left: -30px;
}

.fitur-carousel .owl-nav .owl-next {
  right: -30px;
}

.gallery {
  padding-top: 80px;
  text-align: center;
}

.gallery .albery-container {
  margin: 0 auto 50px;
}

.gallery .albery-container .move-left a, .gallery .albery-container .move-right a {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.gallery .albery-container .move-left a i, .gallery .albery-container .move-right a i {
  font-size: 36px;
  color: #FFC742;
  line-height: 60px;
}

.gallery .gallery-pagination {
  width: 100% !important;
}

.map-info {
  width: 100%;
  list-style-type: none;
  display: table;
  width: 100%;
}

.map-info .list-info {
  display: table-cell;
  padding-right: 30px;
}

.map-info .list-info .separator {
  border-right: 1px solid #333533;
}

.background-wrapper_1 {
  background: url(../img/background/background-wave_1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.background-wrapper_2 {
  background: url(../img/background/background-wave_2.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.unit {
  padding: 70px 15px;
  background-color: #E1EDFF;
}

#footer {
  background: #19274c;
  padding: 40px 0;
}

#footer .main-footer {
  color: #ffffff;
}

#footer .main-footer p {
  color: #ffffff;
}

#footer .main-footer ul.social-share {
  padding: 0;
}

#footer .main-footer ul.social-share > li {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

#footer .main-footer ul.social-share > li :last-child {
  margin-right: 0;
}

#footer .main-footer ul.social-share > li a img {
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

#footer .main-footer ul.social-share > li a:hover img {
  margin-top: -10px;
}

#footer .main-footer ul.footer__list-1 {
  padding: 0;
  margin-bottom: 20px;
}

#footer .main-footer ul.footer__list-1 li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 15px;
}

#footer .main-footer ul.footer__list-1 li a {
  color: #ffffff;
}

#footer .main-footer ul.footer__list-1 li.title {
  color: #ffffff;
}

#footer .copy-footer {
  padding-top: 50px;
  padding-bottom: 30px;
}

@media only screen and (min-width: 1440px) {
  .bg.bg-wave {
    padding-top: 260px;
    padding-bottom: 260px;
  }
}

@media only screen and (min-width: 1920px) {
  .col-xl-5 {
    width: 41.66666667%;
  }
  .header-intro {
    min-height: 100%  !important;
    height: auto !important;
    height: 100%;
  }
  .header-card {
    margin-top: calc(50% - 8em) !important;
  }
  .bg.bg-wave {
    padding-top: 360px;
    padding-bottom: 360px;
  }
  .card.card-efd {
    min-height: 153px;
  }
  .media.media-thumbnail {
    min-height: 62px;
  }
  .media.media-choice {
    margin-bottom: 50px;
  }
  .media.media-choice .media-left, .media.media-choice .media-right {
    width: 45%;
  }
  .connector {
    background-position-y: 60% !important;
  }
  .float-btn_right.right_1 {
    top: calc(50% - 70px) !important;
  }
  .float-btn_right.right_2 {
    top: 50%;
  }
  .float-btn_right .btn-pesan-sekarang, .float-btn_right .btn-whatsapp {
    width: 250px !important;
    -webkit-transition: 0.15s ease;
    transition: 0.15s ease;
  }
  .float-btn_right .btn-pesan-sekarang:hover, .float-btn_right .btn-whatsapp:hover {
    width: 265px !important;
  }
  .background-wrapper_1 {
    background-position-y: 120% !important;
  }
  #footer {
    background-size: contain;
  }
  #footer .pre-footer .img-pre-footer {
    width: 350px;
    left: calc(50% - 175px);
  }
  #footer .copy-footer {
    padding-top: 120px;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 1240px) {
  .container-fluid.fluid-lg {
    padding-right: 160px;
    padding-left: 160px;
  }
  .container-fluid.fluid-md {
    padding-right: 90px;
    padding-left: 90px;
  }
  .container-fluid.fluid-md .no-gutter_left {
    margin-left: -90px;
  }
  .container-fluid.fluid-md .no-gutter_right {
    margin-right: -90px;
    float: right;
  }
  .container-fluid.fluid-sm {
    padding-right: 60px;
    padding-left: 60px;
  }
  .container-fluid.fluid-xs {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-fluid.fluid-lg {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-fluid.fluid-md {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-fluid.fluid-md .no-gutter_left {
    margin-left: -120px;
  }
  .container-fluid.fluid-md .no-gutter_right {
    margin-right: -120px;
  }
}

@media only screen and (min-width: 768px) {
  .float-right_md {
    float: right;
  }
  .mg-l-none_md {
    margin-left: 0 !important;
  }
  .mg-l-sm_md {
    margin-left: 10px !important;
  }
  .mg-l-m_md {
    margin-left: 30px !important;
  }
  .mg-l-lg_md {
    margin-left: 60px !important;
  }
  .no-float-column {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
  .vertical-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-right_md {
    text-align: right;
  }
  .pad-r-none_md {
    padding-right: 0;
  }
  .navbar {
    min-height: 100px;
  }
  .navbar.navbar-default.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar.navbar-default.navbar-transparent .navbar-nav > li > a {
    color: #333533;
    font-weight: 600;
  }
  .navbar.navbar-default.navbar-transparent .navbar-area {
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .navbar.navbar-default.navbar-transparent .navbar-area .navbar-collapse {
    padding: 0;
  }
  .navbar.navbar-default.navbar-transparent .navbar-area .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar .navbar-nav {
    padding-top: 10px;
  }
  .navbar .navbar-center {
    width: 63%;
    position: absolute;
    left: 47%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
  }
  .float-btn_right {
    position: fixed;
    z-index: 100;
    right: 0;
  }
  .float-btn_right.right_1 {
    top: calc(50% - 64px);
  }
  .float-btn_right.right_2 {
    top: 50%;
  }
  .float-btn_right .btn-pesan-sekarang {
    padding: 11px 8px;
    background: #E36363;
    color: #ffffff;
  }
  .float-btn_right .btn-whatsapp {
    padding: 8px;
    background: #E7EFDF;
    color: #333533;
  }
  .float-btn_right .btn-pesan-sekarang, .float-btn_right .btn-whatsapp {
    display: inline-block;
    border-radius: 12px 0px 0px 12px;
    width: 175px;
    -webkit-transition: 0.15s ease;
    transition: 0.15s ease;
  }
  .float-btn_right .btn-pesan-sekarang:hover, .float-btn_right .btn-whatsapp:hover {
    width: 185px;
  }
  .card.card-step p {
    min-height: 60px;
  }
  .card.card-fitur {
    background-image: url(../img/general/orn-ellips_3.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 60px 80px;
    background-color: #EFEFEF;
    margin-bottom: 0;
  }
  .thumbnail.thumbnail-tight .caption {
    padding: 15px;
  }
  .vertical-tagline {
    margin-top: 15%;
  }
  .header-intro {
    min-height: 100%;
    height: auto !important;
    height: 100%;
  }
  .header-card {
    margin-top: calc(50% - 10em);
  }
  .connector {
    background-image: url(../img/general/connector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 80%;
  }
  .gallery {
    padding: 50px 40px;
  }
  #footer .main-footer ul.footer__list-1.with-icon li {
    position: relative;
    padding-left: 30px;
  }
  #footer .main-footer ul.footer__list-1.with-icon li.title {
    padding-left: 0;
  }
  #footer .main-footer ul.footer__list-1.with-icon li img {
    position: absolute;
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  body,
  html {
    font-size: 13px;
  }
  h1 {
    font-size: 2.143em;
  }
  .text-center_xs {
    text-align: center;
  }
  .mg-section {
    margin-bottom: 0;
  }
  .pad-section {
    padding-top: 80px;
  }
  .pad-t-none_xs {
    padding-top: 0 !important;
  }
  .mg-t-none_xs {
    margin-top: 0 !important;
  }
  .mg-t-sm_xs {
    margin-top: 10px !important;
  }
  .mg-t-m_xs {
    margin-top: 30px !important;
  }
  .mg-t-lg_xs {
    margin-top: 60px !important;
  }
  .mg-b-none_xs {
    margin-bottom: 0 !important;
  }
  .mg-b-sm_xs {
    margin-bottom: 10px !important;
  }
  .mg-b-m_xs {
    margin-bottom: 30px !important;
  }
  .mg-b-lg_xs {
    margin-bottom: 60px !important;
  }
  .navbar.navbar-default.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar.navbar-default.navbar-transparent .navbar-nav > li > a {
    color: #333533;
    font-weight: 600;
  }
  .navbar.navbar-default.navbar-transparent .navbar-area {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .navbar.navbar-default.navbar-transparent .navbar-area.navbar-collapse {
    background-color: #ffffff;
  }
  .navbar.navbar-default.navbar-transparent .navbar-area.navbar-collapse .navbar-right .navbar-nav li a {
    color: #333533;
  }
  .navbar.navbar-default.navbar-transparent .navbar-area .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar.navbar-default.navbar-transparent .navbar-area .navbar-brand img {
    height: 48px;
    margin-top: 5px;
  }
  .navbar.navbar-default.navbar-transparent.navbar-shrink .navbar-area {
    padding-bottom: 15px;
  }
  .container-fluid.fluid-md .no-gutter_left {
    margin-left: -15px;
  }
  .container-fluid.fluid-md .no-gutter_right {
    margin-right: -15px;
    float: right;
  }
  .header-intro {
    min-height: auto;
    height: auto !important;
    height: auto;
  }
  .card.card-pd__lg, .card.card-pd__md,
  .card .card-pd__md {
    padding: 40px 15px;
  }
  .card.card-step {
    margin-bottom: 60px;
  }
  .card.card-step p {
    min-height: 70px;
  }
  .card.card-boxed_xs {
    -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.15);
  }
  .header-card {
    margin-top: 50%;
  }
  .float-btn_right {
    position: fixed;
    z-index: 100;
    right: 0;
  }
  .float-btn_right.right_1, .float-btn_right.right_2 {
    bottom: 10px;
  }
  .float-btn_right.right_1 {
    left: 0;
  }
  .float-btn_right .btn-pesan-sekarang {
    padding: 8px;
    background: #E36363;
    color: #ffffff;
    border-radius: 0 12px 12px 0;
  }
  .float-btn_right .btn-whatsapp {
    padding: 8px;
    background: #E7EFDF;
    color: #333533;
    border-radius: 12px 0px 0px 12px;
  }
  .float-btn_right .btn-pesan-sekarang, .float-btn_right .btn-whatsapp {
    display: inline-block;
    width: 150px;
  }
  .float-btn_right .btn-pesan-sekarang img, .float-btn_right .btn-whatsapp img {
    width: 18px;
  }
  .thumbnail.thumbnail-tight .caption {
    padding: 15px;
  }
  .media.media-50 .media-body, .media.media-60 .media-body, .media.media-choice .media-body {
    display: block;
    width: 100%;
  }
  .media.media-50 .media-left, .media.media-50 .media-right, .media.media-60 .media-left, .media.media-60 .media-right, .media.media-choice .media-left, .media.media-choice .media-right {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  .media.media-choice {
    margin-bottom: 50px;
  }
  .fitur-carousel .owl-nav .owl-prev {
    left: -10px;
  }
  .fitur-carousel .owl-nav .owl-next {
    right: -10px;
  }
  .map-info {
    padding: 0;
  }
  .map-info .list-info {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 0;
  }
  .map-info .list-info .separator {
    padding-bottom: 15px;
    border-right: 0;
    border-bottom: 1px solid #333533;
  }
  .gallery .albery-container {
    width: 290px !important;
    margin: 0 auto 20px;
  }
  .gallery .gallery-pagination .pagination-wrapper .pagination-item {
    width: 90px !important;
  }
  #footer .main-footer {
    text-align: center;
  }
  #footer .pre-footer {
    text-align: center;
    margin-bottom: 50px;
  }
  #footer .copy-footer {
    padding-top: 40px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */